*{
    margin: 0%;
    padding: 0%;
    
}
body{
    background-color: rgb(8 3 28);
    color: white;
}

html{
    scroll-behavior: smooth;
}
.container-nav{
    max-width: 1300px; 
    background-color: rgb(49, 38, 38);
    margin: auto;
    padding: 0% 5%;
    position: sticky;
    top: 0%;
}
#navbar{
    
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    /* height: 100px; */
}

h4{
    font-size: 2em;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
    


}
nav ul li{
    display: inline-block;
    margin: 22px;
}
nav ul li a:hover{
    color: bisque;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
@media screen and (max-width:600px)  {
    #navbar{
        display: flex;
        flex-direction: column;
    }.container-nav{
        padding: 0%;
    }
    nav ul li{
        margin: 12px;
    }
}
#home{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#home::before{
    content: '';
    position: absolute;
    top: 0%;
    height: 620px;
    width: 100%;
    opacity: 0.4;
    background: url('../images/background.jpg')no-repeat center center;
    z-index: -1;
}
#home h1{
    font-size: 2em;
    font-weight: 400;
    color: beige;
}
 #home h2{
    font-size: 3em ;
    font-weight: 400;
    margin-top: 4px ;
    margin-bottom: 7px;
    background-color: black;
    color: beige;


}
#home h3{
    font-size: 1.3em;
    color: beige;
    
}
#home-btn{
    margin-top: 22px;
    padding: 15px 22px;
    background-color: yellow;
    color: black;
    border: none;
}
#home-btn:hover{
    background-color: rgb(250, 213, 63);
    cursor: pointer;
}
.container-about{
    max-width: 1300px;
    margin: auto;
    padding: 0% 4%;
    /* height: 500px; */
    /* margin-top: 20px; */
    margin-bottom: 33px;
    

}
#about-head{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#about-head h4{
    font-size: 1rem;
    background-color: rgb(153, 153, 30);
    padding: 6px 6px;
}
#about-head h2{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 33px;

}
#about-me{
    margin-top: 55px;
}
#about-me p{
    font-size: 1.5rem;
    margin-top: 22px;
    line-height: 33px;
}
#about-me25{
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    flex-wrap: wrap;
    margin-top: 33px;
    
    
    
}
@media  screen and (max-width:800px) {
    #about-me25{
        display: flex;
        flex-direction: column;
    }
}
.col-3{
    padding-right: 11%;
    font-size: 20px;
    /* border-bottom: 2px solid gray; */
    
}

.col-3 h5{
    border-bottom: 2px solid rgb(187, 175, 175);
    padding-bottom: 12px;
}
.container-resume{
    max-width: 1300px;
    margin: auto;
    padding: 0% 4%;
    
}
.education{
    margin-top:33px ;
    padding-bottom: 12px;
    /* border-bottom: 2px solid rgb(190, 177, 177); */
    margin-bottom: 33px;
    border-left: 3px solid yellowgreen;
    padding-left: 20px;
}
#resume{
border-bottom: 1px solid gray;
}


.education h1{
    margin-top: 22px;
    font-size: 1.4rem;
    font-weight: 400;
}
.education p{
    margin-top: 12px;
    font-size: 1rem;
    color: rgb(148, 113, 113);
}
#my-education-head{
    background-color: chartreuse;
    font-size: 0.6em;
    width: fit-content;
    padding: 10px 12px;
}


.container-skills{
    padding: 0% 4%;
    padding-bottom: 50px;
    background-color: rgb(44, 52, 35);
    padding-top: 22px;
    max-width: 1300px;
    margin: auto;
    
}

.container-skills h1{
    text-align: center;
    font-weight: 500;
    font-size: 1.6em;
    margin-bottom: 45px;

}
.skill{
    width: 100%;
}
.container{
    color: azure;
    
    text-align: right;
    margin-top: 8px;
    margin-bottom: 12px;
    
}
.heading-skills p{
    font-size: 22px;
}
.container p{
    padding-right: 10px;
    margin-top: 6px;
    font-size: 18px;
    
}
.html{
    background-color: blue;
    width: 90%;
    
}
.css{
    background-color: brown;
    width: 80%;
}

.js{
    background-color: chocolate;
    width: 60%;
}
.bootstrap{
    width: 80%;
    background-color:darkcyan ;
}

.python{
    width: 65%;
    background-color: darkred;
}

.c-prog{
    width: 70%;
    background-color: indianred;
}

#container-contact{
    padding: 0% 4%;
   
    max-width: 1300px;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: rgb(18, 24, 12);
}
.contact{
    display: flex;
    
    flex: 1;
    /* align-items: center; */
    justify-content: space-around;
}
.contact-info{
    padding-top: 44px;
}
.contact-info h1{
    font-weight: 500;
    padding-bottom: 10px;
}
.contact-info h2{
    font-weight: 500;
    font-size: 2rem;
}
.contact-info p{
    font-size: 1.3rem;
    padding-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
    
}

form input{
    margin: 4px;
    display: flex;
    flex-direction: column;
    padding: 5px 8px;
    width: 307px;
    border: none;
    border-radius: 12px;
    color: gray;
}
form textarea{
    border: none;
    margin-left: 4px;
    margin-right: 4px;
    width: 317px;
    border-radius: 12px;
    padding-left: 5px;
    padding-top: 7px;
    color: gray;
}

.form-bot{
    display: flex;
    flex-direction: column;
}
.contact-form{
    margin-top: 22px ;
    margin-bottom: 22px;
}
.contact-form h1{
    text-align: left;
    padding-bottom: 12px;
    padding-left: 12px;
    text-decoration: underline;
    font-weight: 500;

}
form #button{
    width: 100px;
    margin-top: 10px;
    border-radius: 22px;
    color: black;

    
}
form button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

@media  screen and (max-width:928px) {
    .skills{
        width: 100%;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    /* form input{
        width: max-content;
    } */
}
.footer{
    height: 30px;
}




